
$primary-1: #0D253F;
$primary-2: #3FA5D4;
$primary-3: #F6F6F6;
$secondary-1: #4A5768;
$secondary-2: #76879A;

#custom-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    .nav-link {
        font-size: 14px;
        color: #fff;
        font-weight: 500;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: 18px;
        // border-radius: 15px;
    }
    .nav-link:hover{
        color: #fff;
        background-color: $primary-2;
    }
    .nav-link:active{
        color: #fff;
        background-color: $primary-2;
    }
    .nav-link.active{
        color: #fff;
        background-color: $primary-2;
    }
    .nav-link.porto{
        color: #fff;
        background-color: $primary-2;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    .navbar-brand img{
        margin-right: 8px;
    }
    .navbar-brand{
        color: #fff;
    }
    .navbar-custom .navbar-toggler{
        color: #fff !important;
        border-color: #fff !important;
    }
    .navbar-toggler-icon{
        color: #fff;
    }
}
.title-section{
    color: #fff;
    text-align: center;
    margin: 2em 0;
}
.title-section2{
    color: $primary-1;
    margin: 2em 0;
}
.title-portofolio{
    color: $primary-1;
    text-align: center;
    h2{
        margin-top: 2em;
    }
    p{
        margin-top: 1em;
        margin-bottom: 3em;
    }
}
header{
    background-color: $primary-1;
    background-size: 100% 60% ;
    .header{
        text-align: center;
        padding: 5em 0;
        color: #fff;
        hr{
            border-top: 1px solid $primary-2;   
            width: 40%;        
        }
        a{
            color: #fff;
        }
    }
}

.layanan{
    width: 100%;
    height: 350px;
    padding: 20px 20px;
    color: #fff;
    border-radius: 12px;
    background-color: $primary-2;
    h5{
        margin-bottom: 18px;
    }
}
.card-portofolio{
    width: 100%;
    height: 400px;    
    text-align: center;
    color: $secondary-1;
    margin-bottom: 30px;
    img{
        width: 100%;
        height: 80%;        
        border-radius: 12px;
        margin-bottom: 20px;
    }
    p{
        color: $secondary-2;
    }
}