
$primary-1: #0D253F;
$primary-2: #3FA5D4;
$primary-3: #F6F6F6;
$secondary-1: #4A5768;
$secondary-2: #76879A;

#custom-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    .nav-link {
        font-size: 14px;
        color: #fff;
        font-weight: 500;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-right: 18px;
        // border-radius: 15px;
    }
    .nav-link:hover{
        color: #fff;
        background-color: $primary-2;
    }
    .nav-link:active{
        color: #fff;
        background-color: $primary-2;
    }
    .nav-link.active{
        color: #fff;
        background-color: $primary-2;
    }
    .nav-link.porto{
        color: #fff;
        background-color: $primary-2;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    .navbar-brand img{
        margin-right: 8px;
    }
    .navbar-brand{
        color: #fff;
    }
    .navbar-custom .navbar-toggler{
        color: #fff !important;
        border-color: #fff !important;
    }
    .navbar-toggler-icon{
        color: #fff;
    }
}
.title-section{
    color: #fff;
    text-align: center;
    margin: 2em 0;
}
.title-section2{
    color: $primary-1;
    margin: 2em 0;
}
.title-section3{
    color: $primary-1;   
}

.title-portofolio{
    color: $primary-1;
    text-align: center;
    h2{
        margin-top: 2em;
    }
    p{
        margin-top: 1em;
        margin-bottom: 3em;
    }
}
.bg-primary1{
    background-color:$primary-1;
}
header{           
    background-image: url('/assets/image/header.jpg');
    background-size: 100% 90%;
    background-repeat: no-repeat;
    
    
    .header{
        text-align: center;
        padding: 5em 0;
        color: #fff;
        hr{
            border-top: 1px solid $primary-2;   
            width: 40%;        
        }
        
        a{
            color: #fff;
        }
    }
}
header::before{
    content:'\A';
    position:absolute;
    width:100%; height:94%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:1;
   
    
}
.layanan{
    width: 100%;
    height: 370px;
    padding: 20px 20px;
    color: #fff;
    border-radius: 12px;
    background-color: $primary-2;
    margin-bottom: 24px;
    h5{
        margin-bottom: 18px;
    }
    i{
        font-size: 50px;
        margin-bottom: 20px;
    }
    p{
        text-align: justify;
    }
}
.card-portofolio{
    width: 100%;
    height: 400px;    
    text-align: center;
    color: $secondary-1;
    margin-bottom: 30px;
    img{
        width: 100%;
        height: 80%;        
        border-radius: 12px;
        margin-bottom: 20px;
    }
    p{
        color: $secondary-2;
    }
}

.slider-client{
    margin-bottom: 5em;
    .card-img{
        img{
            width: 200px;
            opacity: 0.2;
            transition: 0.5s;
            margin: auto;
        }
        img:hover{
            opacity: 1;
        }
    }
}
.slider-kata{
    margin-bottom: 5em;
    
    .card-kata{
        display: flex !important;
        color: #fff;
        align-items: center;
        img{
            width: 200px;
            border-radius: 50%;
        }
        .text{
            margin-left: 40px;
        }
    }
}

.artikel{
    img{
        border-radius: 12px;
        width: 80%;
        margin: auto;
    }
    h2{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    p{
        text-align: justify;
    }
    a{
        color: $primary-1;
    }
}
.hubungi{
    background-image: url('/assets/image/hubungi.png');
}