#custom-nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
#custom-nav .nav-link {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: 18px;
}
#custom-nav .nav-link:hover {
  color: #fff;
  background-color: #3FA5D4;
}
#custom-nav .nav-link:active {
  color: #fff;
  background-color: #3FA5D4;
}
#custom-nav .nav-link.active {
  color: #fff;
  background-color: #3FA5D4;
}
#custom-nav .nav-link.porto {
  color: #fff;
  background-color: #3FA5D4;
  padding-right: 20px !important;
  padding-left: 20px !important;
}
#custom-nav .navbar-brand img {
  margin-right: 8px;
}
#custom-nav .navbar-brand {
  color: #fff;
}
#custom-nav .navbar-custom .navbar-toggler {
  color: #fff !important;
  border-color: #fff !important;
}
#custom-nav .navbar-toggler-icon {
  color: #fff;
}

.title-section {
  color: #fff;
  text-align: center;
  margin: 2em 0;
}

.title-section2 {
  color: #0D253F;
  margin: 2em 0;
}

.title-section3 {
  color: #0D253F;
}

.title-portofolio {
  color: #0D253F;
  text-align: center;
}
.title-portofolio h2 {
  margin-top: 2em;
}
.title-portofolio p {
  margin-top: 1em;
  margin-bottom: 3em;
}

.bg-primary1 {
  background-color: #0D253F;
}

header {
  background-image: url("/assets/image/header.jpg");
  background-size: 100% 90%;
  background-repeat: no-repeat;
}
header .header {
  text-align: center;
  padding: 5em 0;
  color: #fff;
}
header .header hr {
  border-top: 1px solid #3FA5D4;
  width: 40%;
}
header .header a {
  color: #fff;
}

header::before {
  content: "\a";
  position: absolute;
  width: 100%;
  height: 94%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.layanan {
  width: 100%;
  height: 370px;
  padding: 20px 20px;
  color: #fff;
  border-radius: 12px;
  background-color: #3FA5D4;
  margin-bottom: 24px;
}
.layanan h5 {
  margin-bottom: 18px;
}
.layanan i {
  font-size: 50px;
  margin-bottom: 20px;
}
.layanan p {
  text-align: justify;
}

.card-portofolio {
  width: 100%;
  height: 400px;
  text-align: center;
  color: #4A5768;
  margin-bottom: 30px;
}
.card-portofolio img {
  width: 100%;
  height: 80%;
  border-radius: 12px;
  margin-bottom: 20px;
}
.card-portofolio p {
  color: #76879A;
}

.slider-client {
  margin-bottom: 5em;
}
.slider-client .card-img img {
  width: 200px;
  opacity: 0.2;
  transition: 0.5s;
  margin: auto;
}
.slider-client .card-img img:hover {
  opacity: 1;
}

.slider-kata {
  margin-bottom: 5em;
}
.slider-kata .card-kata {
  display: flex !important;
  color: #fff;
  align-items: center;
}
.slider-kata .card-kata img {
  width: 200px;
  border-radius: 50%;
}
.slider-kata .card-kata .text {
  margin-left: 40px;
}

.artikel img {
  border-radius: 12px;
  width: 80%;
  margin: auto;
}
.artikel h2 {
  margin-top: 50px;
  margin-bottom: 40px;
}
.artikel p {
  text-align: justify;
}
.artikel a {
  color: #0D253F;
}

.hubungi {
  background-image: url("/assets/image/hubungi.png");
}

/*# sourceMappingURL=style.css.map */
