html {
  overflow-x: hidden;
}

#custom-nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  left: 0;
  z-index: 999;
}
#custom-nav .nav-link {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: 18px;
}
#custom-nav .nav-link:hover {
  color: #fff;
  background-color: #3FA5D4;
}
#custom-nav .nav-link:active {
  color: #fff;
  background-color: #3FA5D4;
}
#custom-nav .nav-link.active {
  color: #fff;
  background-color: #3FA5D4;
}
#custom-nav .nav-link.porto {
  color: #fff;
  background-color: #3FA5D4;
  padding-right: 20px !important;
  padding-left: 20px !important;
}
#custom-nav .navbar-brand img {
  margin-right: 8px;
}
#custom-nav .navbar-brand {
  color: #fff;
}
#custom-nav .navbar-custom .navbar-toggler {
  color: #fff !important;
  border-color: #fff !important;
}
@media (max-width: 991.98px) {
  #custom-nav .navbar-nav {
    padding: 10px;
  }
  #custom-nav .nav-item {
    width: fit-content;
    margin-bottom: 10px;
  }
}

#custom-nav.navbar-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: #0D253F;
  padding: 5px 20px;
  transition: 0.5s;
  animation: scroll 0.6s 1;
}
@keyframes scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
#custom-nav.navbar-scroll .nav-link {
  color: #0D253F;
}
#custom-nav.navbar-scroll .nav-link:hover {
  color: #0D253F;
  background-color: #3FA5D4;
}
#custom-nav.navbar-scroll .nav-link:active {
  color: #fff;
  background-color: #3FA5D4;
}
#custom-nav.navbar-scroll .nav-link.active {
  color: #fff;
  background-color: #3FA5D4;
}
#custom-nav.navbar-scroll .nav-link.porto {
  color: #fff;
  background-color: #3FA5D4;
}

.title-section {
  color: #fff;
  text-align: center;
  margin: 1em 0;
}
.title-section mark {
  background-color: transparent;
  color: #3FA5D4;
  padding: 0;
}

.title-section2 {
  color: #0D253F;
  margin: 2em 0;
}
.title-section2 mark {
  background-color: transparent;
  color: #3FA5D4;
  padding: 0;
}

.title-section3 {
  color: #0D253F;
  margin-top: 4em;
}
.title-section3 mark {
  background-color: transparent;
  color: #3FA5D4;
  padding: 0;
}

.title-portofolio {
  color: #0D253F;
  text-align: center;
}
.title-portofolio h2 {
  margin-top: 2em;
}
.title-portofolio p {
  margin-top: 1em;
  margin-bottom: 3em;
  color: #76879A;
}
.title-portofolio mark {
  background-color: transparent;
  color: #3FA5D4;
}

.btn-blue {
  margin-top: 4em;
  background-color: #3FA5D4;
  color: #fff;
}

.btn-blue:hover {
  background-color: #4A5768 !important;
  color: #fff;
}

.bg-primary1 {
  background-color: #0D253F;
}

#cus-breadcrumb .breadcrumb {
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
#cus-breadcrumb .breadcrumb .breadcrumb-item, #cus-breadcrumb .breadcrumb .breadcrumb-item > a, #cus-breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

header {
  background-image: url("/dakon/assets/image/header.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 750px;
}
header .header {
  text-align: center;
  padding-top: 5em;
  padding-bottom: 2em;
  color: #fff;
}
header .header hr {
  border-top: 1px solid #3FA5D4;
  width: 40%;
}
header .header a {
  color: #fff;
}
@media (max-width: 991.98px) {
  header {
    background-size: cover;
    background-position: center;
  }
}

.layanan {
  padding: 20px 20px;
  color: #fff;
  border-radius: 12px;
  background-color: #3FA5D4;
  margin-bottom: 24px;
}
.layanan h5 {
  margin-bottom: 18px;
}
.layanan i {
  font-size: 40px;
  margin-bottom: 20px;
}
.layanan p {
  text-align: justify;
}

.layanan:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s;
}

.whyus h3 {
  color: #4A5768;
}
.whyus p {
  color: #76879A;
}

.card-portofolio {
  text-align: center;
  color: #4A5768;
  margin-bottom: 30px;
}
.card-portofolio a {
  color: #4A5768;
}
.card-portofolio a:hover {
  color: #0D253F;
  text-decoration: none;
}
.card-portofolio img {
  width: 100%;
  height: 80%;
  border-radius: 12px;
  margin-bottom: 20px;
}
.card-portofolio p {
  color: #76879A;
}

.slider-client {
  margin-bottom: 5em;
}
.slider-client .card-img img {
  width: 200px;
  opacity: 0.2;
  transition: 0.5s;
  margin: auto;
}
.slider-client .card-img img:hover {
  opacity: 1;
}

.slider-kata {
  margin-top: 5em;
  margin-bottom: 5em;
}
.slider-kata .card-kata {
  display: flex !important;
  color: #fff;
  align-items: center;
}
.slider-kata .card-kata img {
  width: 200px;
  border-radius: 50%;
}
.slider-kata .card-kata .text {
  margin-left: 40px;
}
@media (max-width: 575.98px) {
  .slider-kata .card-kata {
    flex-direction: column;
  }
  .slider-kata .card-kata .text {
    margin-top: 40px;
    margin-left: 0;
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .slider-kata .card-kata {
    flex-direction: column;
  }
  .slider-kata .card-kata .text {
    margin-top: 40px;
    margin-left: 0;
    text-align: center;
  }
}

.qt-left {
  position: absolute;
  width: 80px;
  top: 0;
  left: 0;
}

.qt-right {
  position: absolute;
  width: 80px;
  bottom: 0;
  right: 0;
}

.artikel {
  margin-bottom: 5em;
}
.artikel img {
  border-radius: 12px;
  width: 80%;
  margin: auto;
}
.artikel h2 {
  margin-bottom: 40px;
  color: #4A5768;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .artikel h2 {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
.artikel p {
  text-align: justify;
  color: #76879A;
}
.artikel a {
  color: #3FA5D4;
}

.hubungi {
  background-image: url("/dakon/assets/image/hubungi.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .hubungi {
    background-size: cover;
    background-position: right;
  }
}
.hubungi form {
  margin-top: 24px;
}
.hubungi .form-control {
  border-radius: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0D253F;
}

footer img {
  margin: auto;
  width: 90%;
}
footer h4 {
  color: #4A5768;
}
footer h5 {
  color: #4A5768;
  margin-top: 10px;
}
footer a {
  color: #76879A;
}
footer a:hover {
  color: #4A5768;
  text-decoration: none;
}
footer p {
  color: #76879A;
}
footer i {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
